.filters {
    background-color: #E5E5E5;
    padding-bottom: 20px;
}

.filters__wrapper {
    display: flex;
    align-items: center;
    gap: 0 15px;
    max-width: 850px;
    margin-left: auto;
}

.filters__title {
    color: #929292;
}